<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
              type="text/css" />
    </head>

    <body>
        <h2>List of Persons</h2>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="person: ${persons}">
                    <td th:text="${person.uuid}" />
                    <td th:text="${person.name}" />
                    <td><a th:href="@{'/person/' + ${person.uuid}}">View</a></td>
                </tr>
            </tbody>
        </table>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    </body>

</html>